.row
  .col-md-4
    = form_for(@recipe) do |f|
      - if @recipe.errors.any?
        - @recipe.errors.full_messages.each do |message|
          .alert.alert-danger= message
          
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :preparation
        = f.text_area :preparation, class: 'form-control'
      
      .actions
        = f.submit class: 'btn btn-primary'
        = link_to 'Back', recipes_path, class: 'btn btn-default'
