.row
  .col-md-4
    = simple_form_for @recipe do |f|
      = f.error_notification
      
      = f.input :name
      = f.input :preparation_time
      = f.input :cost
      = f.input :preparation
      
      .form-actions
        = f.button :submit, class: 'btn-primary'
        = link_to 'Back', recipes_path, class: 'btn btn-default'
