.page-header
  %h1.text-uppercase.text-center My Recipes

%table.table.table-striped
  %tr
    %th Name
    %th Preparation
    %th Cost
    %th Time Taken
    %th 
  - @recipes.each do |recipe|
    %tr
      %td #{recipe.name}
      %td 
        = link_to truncate(recipe.preparation,length: 100), recipe
      %td #{number_to_currency recipe.cost}
      %td #{recipe.preparation_time}
      %td 
        = link_to 'Edit', edit_recipe_path(recipe), class: 'btn btn-sm btn-primary'
        = link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' 
